$element-bg-color: #262E38;
$bg-color: #131518;
$hover-color: #7C8798;
$cta-color: #FC7614;
$para-color: #969FAD;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  background-color: $bg-color;
}


main {
  max-width: 327px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 15px;

  .rating-card {
    margin: 24px 24px 32px 24px;

    img {
      padding: 13px;
      border-radius: 50%;
      background: $element-bg-color;
    }

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.875rem;
      color: #FFFFFF;
      margin: 16px 0 10px 0;
    }

    p {
      margin: 0;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: $para-color;
    }

    .ratings {
      display: flex;
      justify-content: space-between;
      margin: 24px 0 24px 0;


      .number {
        cursor: pointer;
        width: 22px;
        height: 22px;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0.175px;
        color: $hover-color;
        background-color: $element-bg-color;
        border-radius: 50%;
        text-align: center;
        padding: 10px;
      }

      .checked {
        background-color: $cta-color;
        color: #FFFFFF;
      }
    }

    button {
      background: $cta-color;
      border-radius: 22.5px;
      font-family: 'Overpass';
      font-style: normal;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 1.86667px;
      color: #FFFFFF;
      width: 100%;
      border: none;
      padding: 12px;
      cursor: pointer;
    }
  }

  .thanks-card {
    margin: 34px 24px 37px 24px;
    display: grid;
    place-items: center;
    display: none;

    .total {
      margin: 24px 0;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: $cta-color;
      background-color: $element-bg-color;
      padding: 5px 12px;
      border-radius: 22.5px;
    }

    h1 {
      margin: 0;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.875rem;
      text-align: center;
      color: #FFFFFF;
    }

    p {
      margin: 0;
      margin-top: 17px;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.375rem;
      text-align: center;
      color: $para-color;
    }
  }
}


@media (min-width: 450px) {
  main {
    max-width: 412px;

    .rating-card {
      margin: 32px;

      img {
        padding: 16px;
      }

      h1 {
        font-size: 1.75rem;
        line-height: 2.188rem;
        margin: 30px 0 15px 0;
      }

      p {
        font-size: 0.938rem;
        line-height: 1.5rem;
      }

      .ratings {
        margin: 24px 0 32px 0;
        
        .number {
          width: 21px;
          height: 21px;
          padding: 15px;
          &:hover {
            background-color: $hover-color;
            color: #FFFFFF;
          }
        }

        .checked {
          background-color: $cta-color;
          color: #FFFFFF;
          &:hover {
            background-color: $cta-color;
            color: #FFFFFF;
          }
        }
      }

      button {
        font-family: 'Overpass', sans-serif;
        font-size: 0.938rem;
        line-height: 1.188rem;
        letter-spacing: 2px;
        &:hover {
          background-color: #FFFFFF;
          color: $cta-color;
        }
      }
    }
    

    .thanks-card {
      margin: 45px 40px 45px 32px;

      .total {
        margin: 32px 0;
        font-size: 0.938rem;
        line-height: 1.5rem;
        padding: 5px 20px;
      }

      h1 {
        font-size: 1.75rem;
        line-height: 2.188rem;
      }

      p {
        font-size: 0.938rem;
        line-height: 1.5rem;
        margin-top: 7px;
      }
    }
  }
}